@model IEnumerable<Producer>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            max-width: 85%;
            margin: 50px auto;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #343a40;
        }

        .table th, .table td {
            vertical-align: middle;
        }

        .table th {
            background-color: #343a40;
            color: #fff;
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f2f2f2;
        }

        .table-hover tbody tr:hover {
            background-color: #e2e6ea;
        }

        .logo {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <div class="container">

        <h1 class="mt-5">Producers</h1>
        <a href="@Url.Action("CreateProducerForm","Producers")" class="btn btn-outline-success">Create Producer</a>
        <br />
        <br />
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@item.LogoUrl" class="logo rounded-circle" /></td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <div class="btn-group" role="group">

                                <a href="@Url.Action("View","Producers",new { id = @item.Id })" class="btn btn-success">View</a>
                                <a href="@Url.Action("EditProducer","Producers",new { id = @item.Id })" class="btn btn-primary">Edit</a>
                                <a href="@Url.Action("DeleteProducer","Producers",new { id = @item.Id })" class="btn btn-danger">Delete</a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
